body{
  margin: 20px;
  background-color: #353535;
  font-family:Arial, Helvetica, sans-serif;
}

h1{
  color: #C8C9C8;
  text-align: center;
  outline:#353535;
  outline-width: 10px;
}

table{
  border-collapse:separate;
  border-spacing:0; 
  border-radius: 15px;
  box-shadow: 0 0 0 1px black;
  width: 100%;
  background-color: #FFFFFF;
}

td, th {
  text-align: center;
  padding: 10px 5px;
}

th{
  background-color:#8A897C;
}

tr:nth-child(odd){
  background-color: #D2D7DF;
}

tr:hover{
  background-color:#BDBBB0;
}

#topleft{
  border-radius: 10px 0px 0px 0px;
}

#topright{
  border-radius: 0px 10px 0px 0px;
}

#bottomleft{
  border-radius: 0px 0px 0px 10px;
}

#bottomright{
  border-radius: 0px 0px 10px 0px;
}

img{
  max-width: 80%;
  width: 400px;
  height: auto;
}

