table{
  border: 1px solid;
  border-collapse: collapse;
}

td, th {
	border: 1px solid;
  text-align: center;
  padding: 5px 25px;
  }

  #data-header{
    text-align: left;
  }

  img{
    max-width: 80%;
    width: 400px;
    height: auto;
  }
  